.stars {
    position: fixed;
    top: -30%;
    left: 20%;
    width: 100%;
    height: 200%;
    transform: rotate(-45deg);
    z-index: -1;
    scale: 1.2;
}

.star {
    --star-color: var(--primary-color);
    --star-tail-length: 6em;
    --star-tail-height: 2px;
    --star-width: calc(var(--star-tail-length) / 6);
    --fall-duration: 9s;
    --tail-fade-duration: var(--fall-duration);
    position: absolute;
    top: var(--top-offset);
    left: 0;
    width: var(--star-tail-length);
    height: var(--star-tail-height);
    color: var(--star-color);
    background: linear-gradient(45deg, currentColor, transparent);
    border-radius: 50%;
    filter: drop-shadow(0 0 6px currentColor);
    transform: translate3d(104em, 0, 0);
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}

@media screen and (max-width: 750px) {
    .star {
        animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
    }
}

.star:nth-child(1) {
    --star-tail-length: 5.55em;
    --top-offset: 26.92vh;
    --fall-duration: 6.266s;
    --fall-delay: 5.884s;
}

.star:nth-child(2) {
    --star-tail-length: 5.69em;
    --top-offset: 33.29vh;
    --fall-duration: 10.599s;
    --fall-delay: 6.631s;
}

.star:nth-child(3) {
    --star-tail-length: 6.88em;
    --top-offset: 71.74vh;
    --fall-duration: 6.88s;
    --fall-delay: 7.499s;
}

.star:nth-child(4) {
    --star-tail-length: 6.74em;
    --top-offset: 14.43vh;
    --fall-duration: 10.614s;
    --fall-delay: 1.232s;
}

.star:nth-child(5) {
    --star-tail-length: 6.6em;
    --top-offset: 15.72vh;
    --fall-duration: 10.598s;
    --fall-delay: 0.732s;
}

.star:nth-child(6) {
    --star-tail-length: 7.4em;
    --top-offset: 70.94vh;
    --fall-duration: 7s;
    --fall-delay: 1.477s;
}

.star:nth-child(7) {
    --star-tail-length: 7.05em;
    --top-offset: 53.4vh;
    --fall-duration: 10.139s;
    --fall-delay: 2.254s;
}

.star:nth-child(8) {
    --star-tail-length: 7.07em;
    --top-offset: 30vh;
    --fall-duration: 8.729s;
    --fall-delay: 1.265s;
}

.star:nth-child(9) {
    --star-tail-length: 5.42em;
    --top-offset: 99.01vh;
    --fall-duration: 7.751s;
    --fall-delay: 2.463s;
}

.star:nth-child(9) {
    --star-tail-length: 5.42em;
    --top-offset: 99.01vh;
    --fall-duration: 7.751s;
    --fall-delay: 2.463s;
}

.star::before,
.star::after {
    position: absolute;
    content: "";
    top: 0;
    left: calc(var(--star-width) / -2);
    width: var(--star-width);
    height: 100%;
    background: linear-gradient(45deg, transparent, currentColor, transparent);
    border-radius: inherit;
    animation: blink 2s linear infinite;
}

.star::before {
    transform: rotate(45deg);
}

.star::after {
    transform: rotate(-45deg);
}

@keyframes fall {
    to {
        transform: translate3d(-30em, 0, 0);
    }
}

@keyframes tail-fade {

    0%,
    50% {
        width: var(--star-tail-length);
        opacity: 1;
    }

    70%,
    80% {
        width: 0;
        opacity: 0.4;
    }

    100% {
        width: 0;
        opacity: 0;
    }
}

@keyframes blink {
    50% {
        opacity: 0.6;
    }
}